
<% if current_user.artist == "yes" %>
    <p>
        アーティストです
    </p>
<% else %>
    <p>
        アーティストではないです
    </p>
<% end %>

<div class = "work-index-wrapper">
    <div class = "container">
        <h1 class = "text-center text-black">作品一覧</h1>
        <div class = "list">
            <%= form_with url: works_path, method: :get, local: true do |form| %>
                <%= form.select("type_id", Type.pluck(:work_type, :id), {include_blank: true}) %>
                <%= form.submit '検索', name: nil %>
            <% end %>
        </div>
            <div class = "row">
                <% @works.each do |work| %>
                <div class = "col-md-3">
                    <div class = "work-index-three">
                        <%= image_tag work.image.url%>
                        <p class = "work-title">
                            <%= work.title %>
                        </p>
                        </p>
                        <p class = "work-text">
                            <%= work.description %>
                        </p>
                        <p class = "artist">
                            <%= work.user.name %>
                        </p>
                        <p>
                            <% work.types.each  do |type| %>
                            <%= type.work_type %>
                            <% end %>
                        </p>
                    </div>
                </div>
                <% end %>
            </div>
        <%= link_to 'トップページ', root_path %>
        <%= link_to '投稿画面', works_new_path %>
        <%= link_to '自分の作品', users_show_path %>
    </div>
</div>