<div class = "work-search-wrapper">
    <div class = "container">
        <h1 class = "text-center text-black">投稿した作品</h1>
        <div class = "list">
            <% @type_list.each do |list| %>
                <span>
                    <%= link_to list.work_type, type_works_path(type_id: type.id) %>
                    <%= list.works.count %>
                </span>
            <% end %>
        </div>
            <div class = "row">
                <% @works.each do |work| %>
                <div class = "col-md-3">
                    <div class = "work-index-three">
                        <%= image_tag work.image.url%>
                        <p class = "work-title">
                            <%= work.title %>
                        </p>
                        </p>
                        <p class = "work-text">
                            <%= work.description %>
                        </p>
                        <p class = "artist">
                            <%= work.user.name %>
                        </p>
                        <p>
                            <% work.types.each  do |type| %>
                            <%= type.work_type %>
                            <% end %>
                        </p>
                    </div>
                </div>
                <% end %>
            </div>
            <%= link_to 'トップページ', root_path %>
            <%= link_to '投稿画面', new_work_path %>
        </div>
    </div>
</div>