<div class = "user-new-wrapper">
    <div class = "container">
        <div class = "row">
            <div class ="col-md-offset-3 col-md-6 user-new-container">
                <% if @user.errors.any? %>
                    <div class = "alert alert-danger">
                        <ul>
                            <% @user.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <h1 class = "text-center">新規登録</h1>
                <%= form_with model: @user, local: true do |f| %>
                
                    <div class = "form-group">
                        <%= f.label :name, '名前' %>
                        <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    <div class = "form-group">
                        <%= f.label :prefectures, '都道府県' %>
                        <%= f.select :prefectures, User.prefectures.keys, {}, class: 'select-form' %>
                    </div>
                    <div class = "form-group">
                        <%= f.label :email, 'メールアドレス' %>
                        <%= f.email_field :email, class: 'form-control' %>
                    </div>
                    <div class = "form-group">
                        <%= f.label :password, 'パスワード', class: 'text-black' %>
                        <br><%= f.label '(アルファベット大文字、小文字、数字を1つ以上含む、8文字以上20文字以下)', class: 'text-small' %>
                        <%= f.password_field :password, class: 'form-control' %>
                    </div>
                    <div class = "form-group">
                        <%= f.label :password_confirmation, 'パスワード確認' %>
                        <%= f.password_field :password_confirmation, class: 'form-control' %>
                    </div>
                    <div class = "form-group">
                        <%= f.label '作品を投稿しますか', for: "constraction" %>
                        <div class = "radio-inline">
                            <%= f.radio_button :artist, :yes %>
                            <%= f.label :artist, 'はい' %>
                        </div>
                        <div class = "radio-inline">
                            <%= f.radio_button :artist, :no %>
                            <%= f.label :artist, 'いいえ' %>
                        </div>
                    </div>
                    <div class = "form-group">
                        <%= f.label :profile_image, 'プロフィール画像(任意)' %><br>
                        </div class = "profile-image-field">
                            <% if @user.profile_image.present? %>
                                <%= image_tag @user.profile_image, id: 'img_prev', class: 'profile-image' %>
                            <% else %>
                                <%= image_tag 'icons/マイページ.png', id: 'img_prev', class: 'profile-image' %>
                            <% end %>
                        </div>
                        <%= f.file_field :profile_image, id: 'user_img' %>
                        
                        <script type="text/javascript">
                          $(function() {
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#img_prev').attr('src', e.target.result);
                                    }
                                reader.readAsDataURL(input.files[0]);
                                }
                            }
                            $("#user_img").change(function(){
                                readURL(this);
                            });
                          });
                        </script>
                    </div>
                    <div class = "form-group">
                        <%= f.label :profile, 'プロフィール(任意)' %>
                        <%= f.text_area :profile, class: 'form-control', value: "" %>
                    </div>
                    <%= f.submit "登録", class: 'btn-block btn-black' %>
                <% end %>
                
                <%= link_to 'トップページ', root_path %>
            </div>
        </div>
    </div>
</div>