<div class = "user-show-wrapper">
    <div class = "container">
        <div class = "my-page">
            <% if @user.artist == "yes" %>
                <h1 class = "text-center text-black"><%= @user.name %>さんのページ</h1>
                <span class = "user-show-message">
                <% unless @user.id == current_user.id %>
                    <!--メッセージRoomが既にある場合はそこへのリンク(showアクション)-->
                    <% if @isRoom == true %>
                        <%= link_to "メッセージを送る", room_path(@roomId), class: "btn btn-default btn-lg"%>
                    <% else %>
                        <%= form_with model:@room, local: true do |f| %>
                            <%= fields_for @entry do |e| %>
                                <%= e.hidden_field :user_id, :value=> @user.id %>
                            <% end %>
                            <%= f.submit "メッセージを始める", class: 'btn btn-default btn-lg' %>
                        <% end %>
                    <% end %>
                <% end %>
                </span>
                <div class = "list">
                    <span class = "type-title">
                       <目的> 
                    </span><br>
                    <%= form_with url: works_path, method: :get, local: true do |form| %>
                        <%= form.select("type_id", Type.pluck(:work_type, :id), {include_blank: true}) %>
                        <%= form.submit '検索', name: nil %>
                    <% end %>
                </div>
                <% if @works.blank? %>
                    <h3 class = "text-center">作品が投稿されていません</h3>
                <% else %>
                    <div class = "row">
                    <% @works.each do |work| %>
                        <div class = "col-xs-4 col-md-3">
                            <%= link_to work_path(work.id) do %>
                                <div class = "work-index-three">
                                    <div class = "work-image">
                                        <%= image_tag work.image.url%>
                                    </div>
                                    <span class = "work-title">
                                        <%= truncate(work.title, length: 15) %>
                                    </span><br>
                                    <span class = "work-text">
                                        <%= truncate(work.description, length: 17) %>
                                    </span><br>
                                    <span class = "artist">
                                        <%= work.user.name %>
                                    </span><br>
                                    <span>
                                        <% work.types.each  do |type| %>
                                        <%= type.work_type %>
                                        <% end %>
                                    </span>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
                <% end %>
            <% else %>
                <h1 class = "text-center text-black"><%= @user.name %>さんのプロフィール</h1>
            <% end %>
            <%= link_to 'トップページ', root_path %>
        </div>
    </div>
</div>