<div class = "room-index-wrapper">
    <div class = container>
        <div class = "row">
            <div class = "col-md-offset-3 col-md-6">
                <h1 class = "text-center">メッセージ一覧</h1>
                <hr>
                <div class = "dm_list">
                    <% @anotherEntries.each do |e| %>
                        <%= link_to room_path(e.room.id), class: "room-link" do %>
                        <h3 class = "dm-room-ids">
                            <strong>
                                <%= e.user.name %>
                            </strong>
                        </h3>
                        <% end %>
                        <span class = "fa-stack fa-xs">
                            <% message_count = Notification.where(action: 'dm', visited_id: current_user, visitor_id: e.user.id, checked: false).count %>
                            <% if message_count > 0 %>
                            <i class = "fa fa-circle r-circle fa-stack-2x" aria-hidden = "true"></i>
                            <i class = "fa fa-inverse r-circle-text fa-stack-1x">
                                <%=link_to room_path(e.room.id) do%>
                                    <%= message_count %>
                                <% end %>
                            </i>
                            <% end %>
                            </span>
                        <h5 class = "dm-message">
                            <%= e.room.messages.order(created_at: :desc).take.try(:content).truncate(30)%>
                            <%= I18n.l(e.room.messages.last.created_at, format: :short) %>
                        </h5>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>