<div class = "room-show-wrapper">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-offset-4 col-md-4 room-show-container">
                <h1>メッセージ</h1>
                <h4>参加者</h4>
                <% @entries.each do |e| %>
                <% message_count = Notification.where(action: 'dm', visited_id: current_user, visitor_id: e.user.id, checked: false).count %>
                    <h5>
                        <string>
                            <a href = "/users/<%= e.user.id %>">
                                <%= e.user.name %>
                            </a>
                        </string>
                    </h5>
                <% end %>
                
                <hr>
                <% if @messages.present? %>
                    <% @messages.each do |m| %>
                        <% if m.user.name == current_user.name %>
                            <p class = "text-right">
                                <span class = "message-right">
                                    <%= m.content %>
                                </span>
                            </p>
                            <p class = "text-right">
                                    <%= I18n.l(m.created_at, format: :short) %>
                            </p>
                        <% else %>
                            <p>
                                <span class = "message-left">
                                    <%= m.content%>
                                </span>
                            </p>
                            <p>
                                by
                                <strong>
                                    <a href = "/users/<%= m.user.id %>">
                                        <%= m.user.name %>
                                    </a>
                                </strong>
                                <br>
                                    <%= I18n.l(m.created_at, format: :short) %>
                            </p>
                        <% end %>
                    <% end %>
                <% else %>
                    <h3 class = "text-center">メッセージはありません</h3>
                <% end %>
                
                <%= form_with model: @message, local: true do |f| %>
                    <%= f.text_area :content, class: "form-control", :placeholder => "メッセージを入力してください"%>
                    <%= f.hidden_field :room_id, :value => @room.id %>
                    <br>
                    <%= f.submit "送信する", class: "btn btn-info" %>
                <% end %>
                <%= link_to "ユーザー一覧", users_path, class: "btn btn-outline-primary" %>
            </div>
        </div>
    </div>
</div>

<script>
    var element = document.documentElement;
    var bottom = element.scrollHeight - element.clientHeight;
    window.scroll(0, bottom);
</script>