<div class = "card-new-wrapper">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-offset-3 col-md-6">
                <h1 class = "text-center">クレジットカード登録</h1>
                <hr class = "hr-color">
                <% if @card.present? %>
                    <h3 class = "text-center">既に登録されています</h3>
                <% else %>
                <div class = "card-new">
                    <div class = "form-group">
                        <h4 class = "card-new-number-tag">カード番号</h4>
                        <div id = "number-form", class = "payjs-outer"></div>
                        <div class = "card-image">
                            <%= image_tag 'cards/VISA.png' %>
                            <%= image_tag 'cards/MasterCard.png' %>
                            <%= image_tag 'cards/JCB.png' %>
                            <%= image_tag 'cards/AmericanExpress.png' %>
                            <%= image_tag 'cards/DinersClub.png' %>
                            <%= image_tag 'cards/Discover.png' %>
                        </div>
                        <h4 class = "card-new-exp-tag">有効期限</h4>
                        <div id = "expiry-form", class = "payjs-outer"></div>
                        <h4 class = "card-new-cvc-tag">セキュリティーコード</h4>
                        <div id = "cvc-form", class = "payjs-outer"></div>
                    </div>
                </div>
                <div class = "form-group">
                    <%= form_with url: pay_cards_path,method: :post, id: "card_form" do |f| %>
                    <div id = "card_token">
                        <%= f.submit "登録する", class: "btn btn-outline-secondary btn-black", id: "info-submit" %>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

