<!DOCTYPE html>
<html>
  <head>
    <title>Cally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- jQueryの読み込み -->
    <script src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Lightbox2の導入(画像ポップアップ機能)3行追加 -->
    <link href = "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel = "stylesheet">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type = "text/javascript"></script>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class = "alart alert-<%= key %> flash-position" role = "alert">
        <%= value %>
      </div>
    <% end %>
    
    <nav class = "navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class = "container">
        <%= link_to root_path do %>
          <span>
            <%= image_tag "icons/logo.png", class: "navbar-brand" %>
          </span>
        <% end %>
        <ul class = "nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag "icons/マイページ.png" %>
              <% end %>
            </li>
              <% if current_user.artist == "yes" %>
                <li>
                  <%= link_to new_work_path do %>
                    <%= image_tag "icons/投稿.png" %>
                  <% end %>
                </li>
              <% end %>
            <li>
              <%= link_to works_path do %>
                <%= image_tag "icons/作品一覧.png" %>
              <% end %>
            </li>
            <li>
              <%= link_to rooms_path do %>
                <span class = "fa-stack fa-lg">
                  <%= image_tag "icons/メール.png", class: "nav-mail" %>
                  <% if checked_confirmation > 0%>
                    <i class = "fa fa-circle nav-r-circle fa-stack-1x"></i>
                  <% end %>
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :post do %>
                <%= image_tag "icons/ログアウト.png" %>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to "新規登録", new_user_path, class: "nav-text" %>
            </li>
            <li>
              <%= link_to login_path do %>
                <%= image_tag "icons/ログイン.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    
    <script>
      $(function(){
        $(".alart").fadeOut(5000);
      })
    </script>
  </body>
</html>
